/*@keyframes LinearGradientAnimation {*/
    /*0%{background-position: 0% 51%}*/
    /*50%{background-position: 100% 50%}*/
    /*100%{background-position: 0% 51%}*/
/*}*/
@keyframes hueRotate {
    0% {
        filter: hue-rotate(0);
    }
    50% {
        filter: hue-rotate(30deg);
    }
    100% {
        filter: hue-rotate(0);
    }
}
@keyframes opacityAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes brightnessAnimation {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(0%);
    }
    100% {
        filter: brightness(100%);
    }
}
@keyframes halfOpacityAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}